<?xml version="1.0" encoding="UTF-8"?>
<!-- SkinName -->
<window>
	<defaultcontrol>8000</defaultcontrol>
	<include>media_menucontrol</include>
	<backgroundcolor>$VAR[color_global_background_layer1]</backgroundcolor>
	<include>Animation_OpenClose_Slide</include>
	
	<controls>
		
		
		<include>GlobalBackground</include>
		
		<control type="group">
			<animation effect="fade" start="100" end="0" time="250" tween="sine" condition="Window.IsActive(addonsettings)">Conditional</animation>
			<include>HeaderBar</include>
		</control>
		
		<!-- <include>SideBlade</include> -->
		<!-- !__REWORK ME -->
		<control type="group">
		
			
			<include content="Animation_TransitionFadeOut">
				<param name="condition" value="Window.IsActive(addonsettings)" />
			</include>
			
						
			<include condition="false" content="Settings_InfoBottom">
				<param name="label" value="Container.ListItem.Label2" />
			</include>
			
			<control type="grouplist" id="8000">
				<top>140</top>
				<bottom>20</bottom>
				<left>60</left>
				
				
		<!-- 1st row  -->
				<include content="Simple_ContainerHeader">
					<param name="groupid" value="8001" />
					<param name="id" value="8002" />
					<param name="label" value="$LOCALIZE[31168]" />
					<param name="align" value="center" />
				</include>
				<include content="Container_Icons">
					<param name="id" value="8002" />
					<param name="containertype" value="list" />
					<param name="containerheight" value="215" />
					<param name="width" value="260" />
					<param name="height" value="100" />
					<!-- <animation effect="slide" start="0,0" end="130,0" time="0" reversible="false" condition="true">conditional</animation> -->
				
					<content>
					<item>
                        <label>$LOCALIZE[20077]</label>
                        <label2>a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]</label2>
                        <onclick>activatewindow(skinsettings)</onclick>
						<icon>icons/skinsettingsbrush.png</icon>
                        <thumb></thumb>
                    </item>
					<item>
						<label>$LOCALIZE[14206]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>icons/interface.png</icon>
						<thumb></thumb>
					</item>
					<item>
						<label>$LOCALIZE[14200]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>icons/settingsplayer.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14211]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>icons/settingsmedia.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>icons/gampad.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[10823]</label>
						<onclick>ActivateWindow(gamecontrollers)</onclick>
						<icon>defaultaddongame.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14204]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>icons/tv.png</icon>
					</item>
					</content>
				</include>
		<!-- 2nd row -->
				<include content="Simple_ContainerHeader">
					<param name="groupid" value="8003" />
					<param name="id" value="8004" />
					<param name="label" value="$LOCALIZE[31169]" />
					<param name="align" value="center" />
				</include>
				<include content="Container_Icons">
					<param name="id" value="8004" />
					<param name="containertype" value="list" />
					<param name="containerheight" value="215" />
					<param name="width" value="260" />
					<param name="height" value="100" />
					<!-- <animation effect="slide" start="0,0" end="130,0" time="0" reversible="false" condition="true">conditional</animation> -->
				
					<content>
					<item>
						<label>$LOCALIZE[13000]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icons/settingsslider.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14036]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>icons/servicesettings.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13200]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>icons/profilesettings.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[10003]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>icons/filemanager.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[138]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(systeminfo)</onclick>
						<icon>icons/systeminfo.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14111]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(eventlog)</onclick>
						<icon>icons/eventlog.png</icon>
					</item>
					<item>
						<label>LibreELEC</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>icons/settings/libreelec.png</icon>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>
					
					<item>
						<label>$LOCALIZE[496]</label>
						<onclick>ActivateWindow(screencalibration)</onclick>
						<icon>icons/tempiconsettinggcalibration.png</icon>
					</item>
					
					</content>
				</include>
		<!-- 3rd row -->
				<include content="Simple_ContainerHeader">
					<param name="groupid" value="8005" />
					<param name="id" value="8006" />
					<param name="label" value="$LOCALIZE[31170]" />
					<param name="align" value="center" />
				</include>
				<include content="Container_Icons">
					<param name="id" value="8006" />
					<param name="containertype" value="list" />
					<param name="containerheight" value="215" />
					<param name="width" value="260" />
					<param name="height" value="100" />
					<param name="visible" value="true" />
					<param name="visible" value="true" />
					
					<!-- <animation effect="slide" start="0,0" end="130,0" time="0" reversible="false" condition="Integer.IsEqual(Container(52).NumItems,6)">conditional</animation> -->
					<!-- 
							 -->
					<content>
						<item>
							<label>$LOCALIZE[24001]</label>
							<onclick>ActivateWindow(addonbrowser,addons://)</onclick>
							<icon>icons/addons.png</icon>
						</item>
						<item>
							<label>$LOCALIZE[24029]</label>
							<icon>icons/weather.png</icon>
							<onclick condition="String.IsEmpty(Weather.plugin)">ActivateWindow(addonbrowser,addons://repository.xbmc.org/xbmc.python.weather/,return)</onclick>
							<!-- <onclick condition="String.IsEmpty(Weather.plugin)">Addon.Default.Set(xbmc.python.weather)</onclick> -->
							<onclick condition="!String.IsEmpty(Weather.plugin)">Addon.Default.OpenSettings(xbmc.python.weather)</onclick>
							<!-- <onclick condition="!String.IsEmpty(Weather.plugin)">ActivateWindow(ServiceSettings,weather)</onclick> -->
						</item>
						<item>
							<visible>String.StartsWith(System.BuildVersion,18.9)</visible>
							<label>Netflix</label>
							<icon>icons/netflix.png</icon>
							<onclick condition="!System.HasAddon(plugin.video.netflix)">InstallAddon(plugin.video.netflix)</onclick>
							<onclick condition="System.HasAddon(plugin.video.netflix)">Addon.OpenSettings(plugin.video.netflix)</onclick>
						</item>
						<item>
							<label>You Tube</label>
							<icon>icons/youtube.png</icon>
							<onclick condition="!System.HasAddon(plugin.video.youtube)">InstallAddon(plugin.video.youtube)</onclick>
							<onclick condition="System.HasAddon(plugin.video.youtube)">Addon.OpenSettings(plugin.video.youtube)</onclick>
						</item>
						<item>
							<label>$INFO[System.AddonTitle(script.embuary.helper)]</label>
							<icon>icons/embuaryhelper.png</icon>
							<visible>System.HasAddon(script.embuary.helper)</visible>
							<onclick>Addon.OpenSettings(script.embuary.helper)</onclick>
						</item>
						<item>
							<label>$INFO[System.AddonTitle(script.embuary.info)]</label>
							<icon>icons/embuaryinfo.png</icon>
							<visible>System.HasAddon(script.embuary.info)</visible>
							<onclick>Addon.OpenSettings(script.embuary.info)</onclick>
						</item>
						<include condition="String.StartsWith(System.BuildVersion,18.9)">temp_matrix_static_artwork_beef</include>
						<include condition="String.StartsWith(System.BuildVersion,19.)">temp_matrix_static_artwork_dump</include>
						<item>
							<label>$INFO[System.AddonTitle(service.upnext)]</label>
							<icon>icons/nextup.png</icon>
							<visible>System.HasAddon(service.upnext)</visible>
							<onclick>Addon.OpenSettings(service.upnext)</onclick>
						</item>
						<item>
							<label>LibreELEC</label>
							<icon>icons/settings/libreelec.png</icon>
							<visible>System.HasAddon(service.libreelec)</visible>
							<onclick>RunAddon(service.libreelec.settings)</onclick>
						</item>
					</content>
				</include>
			</control>
		</control>
		
		<include content="menucontrol_background_layer" />
		<control type="group">
			<animation effect="slide" start="-450,0" end="0,0" time="300" tween="cubic" easing="inout">VisibleHidden</animation>
			<visible>String.IsEqual(Window(Home).Property(MenucontrolActive),true)</visible>
			<include content="menucontrol_global" condition="String.IsEmpty(Window(home).Property(SetShortcutInProgress))">
				<param name="window_defaultcontrol_id" value="8000" />
				<param name="has_premenu" value="false" />
				<param name="has_no_premenu" value="true" />
			</include>
		</control>
		
		<include content="swan_debug_overlay" />
	</controls>
</window>
