<?xml version="1.0" encoding="UTF-8"?>
<!-- SkinName -->
<window>
	<defaultcontrol>9000</defaultcontrol>
	<menucontrol>9100</menucontrol>
	<backgroundcolor>$VAR[BackgroundColor]</backgroundcolor>
	<include>Animation_OpenClose_Slide</include>
	
	<controls>
		
		<include>GlobalBackground</include>
		
		<include>HeaderBar</include>
		
		<!-- menucontrol ,test, change need -->
		<include content="HiddenMenuControl">
			<param name="action1" value="ActivateWindow(1190),return" />
			<param name="menucontrol" value="9100" />
		</include>
		
		<!-- <include>SideBlade</include> -->
		
		<control type="group">
		
			<include>Sideblade_Focus</include>
			
			<include content="Settings_InfoBottom">
				<param name="label" value="Container.ListItem.Label2" />
			</include>
			
			<!-- <control type="group">
				<description>arrow up</description>
				<animation effect="fade" start="100" end="50" tween="sine" easing="inout" time="800" pulse="true" reversible="false" condition="true">Conditional</animation>
				<top>140</top>
				<left>880</left>
				<height>60</height>
				
				<control type="button" id="8006">    
					<width>120</width>
					<height>30</height>
					<align></align>
					<aligny></aligny>
					<font></font>
					<label></label>
					<textcolor></textcolor>
					<focusedcolor></focusedcolor>
					<disabledcolor></disabledcolor>
					<pulseonselect></pulseonselect>
					<texturefocus flipy="true">buttons/arrowdown.png</texturefocus>
					<texturenofocus flipy="true">buttons/arrowdown.png</texturenofocus>
					<textoffsetx></textoffsetx>
					
				</control>
			</control>
			
			<control type="group">
				<description>arrow down</description>
				<top>915</top>
				<left>880</left>
				<height>60</height>
				<animation effect="fade" start="100" end="50" tween="sine" easing="inout" time="800" pulse="true" reversible="false" condition="true">Conditional</animation>
				
				<control type="button" id="8005">    
					<width>120</width>
					<height>30</height>
					<align></align>
					<aligny></aligny>
					<font></font>
					<label></label>
    			    <textcolor></textcolor>
					<focusedcolor></focusedcolor>
					<disabledcolor></disabledcolor>
					<pulseonselect></pulseonselect>
    			    <texturefocus>buttons/arrowdown.png</texturefocus>
					<texturenofocus>buttons/arrowdown.png</texturenofocus>
    			    <textoffsetx></textoffsetx>
					
				</control>
			</control> -->
			
			<control type="grouplist" id="9000">
				<top>200</top>
				<bottom>12%</bottom>
				<left>80</left>
				<scrolltime tween="quadratic">400</scrolltime>
				<orientation>vertical</orientation>
				<itemgap>-48</itemgap>
				<usecontrolcoords>true</usecontrolcoords>
				<control type="group" id="8999">
					<description>spacer</description>
					<height>0</height>
				</control>
		<!-- 1st row  -->
				<include content="Simple_ContainerHeader">
					<param name="groupid" value="9001" />
					<param name="id" value="9002" />
					<param name="label" value="[UPPERCASE][B]$LOCALIZE[31168][/UPPERCASE][/B]" />
					<param name="align" value="center" />
				</include>
				<include content="Container_Nested_IconLabel">
					<param name="id" value="9002" />
					<param name="layout" value="ThumbLayout_Settingssquare" />
					<param name="tagnf" value="$VAR[Container_item_nf]" />
					<param name="tagfo" value="$VAR[Container_item_fo]" />
					<param name="visible" value="true" />
					<content>
					<item>
                        <label>$LOCALIZE[20077]</label>
                        <label2>a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]</label2>
                        <onclick>activatewindow(skinsettings)</onclick>
						<icon>icons/800on1000_skinsettings1.png</icon>
                        <thumb></thumb>
                    </item>
					<item>
						<label>$LOCALIZE[14206]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>icons/interface1.png</icon>
						<thumb></thumb>
					</item>
					<item>
						<label>$LOCALIZE[14200]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>icons/FINISHED_800on1000_tvsettings_edit1.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14211]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>icons/FINISHED_800on1000_setting_multimedia666.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>icons/gampad.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14204]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>icons/livetv1.png</icon>
					</item>
					</content>
				</include>
		<!-- 2nd row -->
				<include content="Simple_ContainerHeader">
					<param name="groupid" value="9003" />
					<param name="id" value="9004" />
					<param name="label" value="[UPPERCASE][B]$LOCALIZE[31169][/UPPERCASE][/B]" />
					<param name="align" value="center" />
				</include>
				<include content="Container_Nested_IconLabel">
					<param name="id" value="9004" />
					<param name="tagnf" value="$VAR[Container_item_nf]" />
					<param name="tagfo" value="$VAR[Container_item_fo]" />
					<param name="layout" value="ThumbLayout_Settingssquare" />
					<param name="visible" value="true" />
					<content>
					<item>
						<label>$LOCALIZE[13000]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icons/FINISHED_800on1000_settings1.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14036]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>icons/network1.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13200]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>icons/profiles1.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[10003]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>icons/filemanager1.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[138]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(systeminfo)</onclick>
						<icon>icons/sysinfo1.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[31067]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>ActivateWindow(eventlog)</onclick>
						<icon>icons/eventlog1.png</icon>
					</item>
					<item>
						<label>LibreELEC</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>icons/settings/libreelec.png</icon>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>
					</content>
				</include>
		<!-- 3rd row -->
				<include content="Simple_ContainerHeader">
					<param name="groupid" value="9005" />
					<param name="id" value="9006" />
					<param name="label" value="[UPPERCASE][B]$LOCALIZE[31170][/UPPERCASE][/B]" />
					<param name="align" value="center" />
				</include>
				<include content="Container_Nested_IconLabel">
					<param name="id" value="9006" />
					<param name="tagnf" value="$VAR[Container_item_nf]" />
					<param name="tagfo" value="$VAR[Container_item_fo]" />
					<param name="layout" value="ThumbLayout_Settingssquare" />
					<param name="visible" value="true" />
					<content>
					<item>
						<label>$LOCALIZE[24001]</label>
						<label2>a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]a long text which descripes the settings category[CR]</label2>
                        <onclick>ActivateWindow(addonbrowser)</onclick>
						<icon>icons/addons2.png</icon>
					</item>
					<item>
						<label>$INFO[Weather.plugin]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<icon>icons/weather2.png</icon>
						<onclick>ActivateWindow(ServiceSettings,weather)</onclick>
						<visible>!String.IsEmpty(Weather.plugin)</visible>
					</item>
					<item>
						<label>Netflix</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<icon>icons/netflix_1.png</icon>
						<onclick condition="!System.HasAddon(plugin.video.netflix)">InstallAddon(plugin.video.netflix)</onclick>
						<onclick condition="System.HasAddon(plugin.video.netflix)">Addon.OpenSettings(plugin.video.netflix)</onclick>
					</item>
					<item>
						<label>You Tube</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<icon>icons/youtube1.png</icon>
						<onclick condition="!System.HasAddon(plugin.video.youtube)">InstallAddon(plugin.video.youtube)</onclick>
						<onclick condition="System.HasAddon(plugin.video.youtube)">Addon.OpenSettings(plugin.video.youtube)</onclick>
					</item>
					<item>
						<label>$INFO[System.AddonTitle(script.embuary.helper)]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<icon>icons/defaultembuary1.png</icon>
						<onclick>Addon.OpenSettings(script.embuary.helper)</onclick>
						<visible>System.HasAddon(script.embuary.helper)</visible>
					</item>
					<item>
						<label>$INFO[System.AddonTitle(script.artwork.beef)]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<icon>icons/cow1.png</icon>
						<onclick>Addon.OpenSettings(script.artwork.beef)</onclick>
						<visible>System.HasAddon(script.artwork.beef)</visible>
					</item>
					<item>
						<label>$INFO[System.AddonTitle(service.upnext)]</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>Addon.OpenSettings(service.upnext)</onclick>
						<icon>icons/nextup.png</icon>
						<visible>System.HasAddon(service.upnext)</visible>
					</item>
					<item>
						<label>LibreELEC</label>
						<label2>custom text [CR]custom text [CR]custom text</label2>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>icons/settings/libreelec.png</icon>
						<visible>System.HasAddon(service.libreelec)</visible>
					</item>
					</content>
				</include>
			</control>
		</control>
		<include content="swan_debug_overlay" />
	</controls>
</window>
